{{#each cardIndex}}
<section class="card">
    <div class="card-image">
        <img alt="{{alt}}" src="{{src}}" />
    </div>
    <h2 class="title">{{titulo}}</h2>
    <p class="parrafo">{{parrafo}}</p>
</section>
{{/each}}