<div class="slider-container">
    <div class="container-carousel">
        <div class="carousel" id="slider">
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/Diseño sin título.png" alt="Referencia 1" />
            </section>
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/nosotros_07.webp" alt="Referencia 2" />
            </section>
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/actividades_07.webp" alt="Referencia 3" />
            </section>
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/desfile_05.webp" alt="Referencia 4" />
            </section>
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/cuadro_danza_04.webp" alt="Referencia 5" />
            </section>
            <section class="slider-section">
                <img src="./CentroBasico/imagenes/nosotros_05.webp" alt="Referencia 6" />
            </section>
        </div>
        <div class="btn-left">&lt;</div>
        <div class="btn-right">></div>
    </div>
</div>