<footer>
    <section>
        <p>CEB TIBURCIO CARIAS ANDINO, Jesús de Otoro <br></p>
        <p>Tel. 7568-3698 <br></p>
        <p>Whatsapp +50495-9668 <br></p>
        <p>cebtiburciocarias85andino@gmail.com <br></p>
        <span>&copy; Todos los Derechos Reservados 2024 PW</span>
    </section>
</footer>