<div class="slider-container">
    <div class="container-carousel">
        <div class="carousel" id="slider">
            {{#each carrusel}}
            <section class="slider-section">
                <img src="{{url}}" alt="{{alt}}" />
            </section>
            {{/each}}
        </div>
        <div class="btn-left">&lt;</div>
        <div class="btn-right"></div>
    </div>
</div>