{{#each noticiasCard}}
<section class="card">
    <div class="card-image">
        <img alt="{{alt}}" src="{{src}}" />
    </div>
    <h2 class="title">{{tipo}}</h2>
    <p class="parrafo">{{desc}} </p>
</section>
{{/each}}