{{#each valoresCard}}
<div style="background-color: #9AD0C2;" class="box_conteiner">
    <div class="colum-box" style="display: inline-block;">
        <h2 class="titulo">{{tipo}}</h2>
        <p class="parrafo">{{p}}</p>
    </div>
    <div class="colum-box">
        <img class="mobile" src="{{src}}" alt="{{alt}}">
    </div>
</div>
{{/each}}